<h1>Bienvenue {{ firstnameTo }} !</h1>

<p>
    Merci de vous être inscrit sur Trouble à l'ordre public. Pour activer votre compte, veuillez cliquer sur le lien ci-dessous.
</p>
<p>
    <a href="{{ validationLink }}">Activer mon compte</a>
</p>
<p>
    Si vous n'avez pas demandé à vous inscrire sur Trouble à l'ordre public, veuillez ignorer cet email.
</p>
<p>
    Cordialement,
    L'équipe Trouble à l'ordre public
</p>